.search-results{
  list-style: none;
  padding-top: 10px;
  a {
    color: white;
  }
  &__item {
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    border-bottom: 1px dotted white;
    &:hover {
      background-color: $prem-yellow;
    }
  }

  &__meta {
    p {
      font-size: 16px;
      color: white;
    }
  }

}