@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

@import url(https://fonts.googleapis.com/css?family=Montserrat);

@import "variable";
@import "reset";
@import "searchlist";

.jumbotron {
  background-color: $prem-purple;
  h1 {
    color: white;
  }
}


