
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Venue Finder</h1>
            <h2 class="text-center">Look for any venue in London using our venue finder!</h2>
            <input class="form-control input-lg search-form" type="text" data-ng-model="searchText" placeholder="type your search here">
        </div>
    </div>
    <div ng-include="'views/searchResults.html'"></div>