<div class="row">
    <div class="col-md-12">
        <ul class="search-results">
            <li data-ng-repeat="venue in venues" class="search-results__item">
                <a class="search-results__title" href="">
                    {{venue.name}} <i class="fa fa-map-marker"></i>
                </a>
                <div class="search-results__meta">
                    <p>{{venue.address}}</p>
                    <p>{{venue.postcode}}</p>
                    <p>{{venue.contactNumber}}</p>
                    <p>
                        <a href="{{venue.website}}" target="_blank">{{venue.website}}</a>
                    </p>
                    <p>{{venue.category}}</p>
                </div>

            </li>
        </ul>
    </div>
</div>